
        * {
            box-sizing: border-box;
            
        }

        body {
            background-color: #E1E6EA;
        }
        #header {
            height: 70px;
            background-color:#415FA8;
            color:#ffffff;
            
        }

        #header2,#header1 {
            float: left;
        }

       #header2 {
        margin: 0px 0px 0px 500px;
       }

        #lbar {
            float: left;
            width: 15%;
            color: #2c2c2c;
            padding:10px;
            border-radius: 10px;
        }

        #content {
            float: left;
            display: inline;
            width: 60%;
            margin: 0px 20px;
            padding: 20px;
            border-radius: 10px;
        }


        #content1 {
            width: 100%;
            height: 100px;
            background-color: white;
            border-radius: 10px;
            padding: 10px;


        }

        #content2 {
            width: 100%;
            background-color: white;
            margin: 10px 0px 0px 0px;
            border-radius: 10px;
            padding: 10px;
        }
    
        table {
            border-collapse: collapse;
        }
        
        td.hdfb {
            background-color: #415FA8;
            
        }

        td.stt {
            background-color: white;
        }
        #rbar {
            float: left;
            display: inline;
            width: 20%;
            margin: 0px 10px;
            padding: 20px 0px;
            border-radius: 10px;
        }

        #rbar1 {
            width: 100%;
            background-color: white;
            border-radius: 10px;
            padding: 10px;


        }

        #rbar2 {
            width: 100%;
            background-color: white;
            margin: 10px 0px 0px 0px;
            border-radius: 10px;
            padding: 10px;
        }

    